<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>

    <style>
        div {
            width: 500px;
            margin: 50px auto;
        }

        input, textarea {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
        }

        textarea {
            height: 200px;
        }

        button {
            padding: 10px 20px;
        }
    </style>
</head>

<body>
<div>
    <form action="/board/writepro" method="post">
        <input name="title" type="text" placeholder="제목">
        <textarea name="content" placeholder="내용"></textarea>
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>